.env
.env.*
node_modules
coverage
coverage.json
typechain
typechain-types
package-lock.json

# Hardhat files
cache
artifacts
test
ignition
scripts/.openzeppelin
hardhad.config.ts
# macOS metadata
.DS_Store